# dependencies
node_modules

# turborepo
.turbo

# output
.next
out
dist
build
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.*.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env*

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE / OS
.idea
.DS_Store

# vercel
.vercel
